@model MovieDatabase.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <img src="/images/@Model.ImgFileName" style="max-width: 80%; max-height:70vh" />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Model.ReleaseDate.ToLongDateString()
 @*            @Html.DisplayFor(model => model.ReleaseDate) *@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>
    </dl>
</div>
<div>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        @:|
    }

    @if (ViewContext.HttpContext.User.IsInRole("admin"))
    {
        <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>
        @: |

    }

    <a asp-action="Index">Back to List</a>
</div>
