@model IEnumerable<MovieDatabase.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Movies</h1>

@if (ViewContext.HttpContext.User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Add new movie</a>
    </p>
}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-6">
    @if (Model.Count() != 0)
    {
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="/images/@item.ImgFileName" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        <a asp-action="Details" asp-route-id="@item.Id">More Info</a>
                    </div>
                </div>
            </div>
        }
    }

    else
    {
        <p>Loading database...Try refreshing this page in  a minute</p>
    }

</div>

@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@



